<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" style="width:1000px;">
	<%= link_to "Edit personal details", :edit => "pdetails" %> |
	<%= link_to "Change password", :edit => "password" %> |
	<%= link_to "Change profile picture", :edit => "picture" %> |
	<%= link_to "Change email address", :edit => "email" %> |
	<%= link_to "Change visuals", :edit => "visuals" %>
  </div>
  <% if params[:edit] == "pdetails" %>
  <div class="field">
    <%= f.label :"First name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :"Surname" %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :"Alias" %><br />
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :"About Me" %><br />
    <%= f.text_area :aboutme %>
  </div>
  <% end %>
  <% if params[:edit] == "password" %>
  <div class="field">
    <%= f.label :"New Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :"Confirm new Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% end %>
  <% if params[:edit] == "picture" %>
  <div class="field">
    <%= f.label :"Picture" %><br />
    <%= f.file_field :photo %>
  </div>
  <% end %>
  <% if params[:edit] == "email" %>
  <div class="field">
    <%= f.label :"Email" %><br />
    <%= f.text_field :email %>
  </div>  
  <div class="field">
    <%= f.label :"Confirm Email" %><br />
    <%= f.text_field :email_confirmation %>
  </div>
  <% end %>
  <% if params[:edit] == "visuals" %>
	  <div class="field">
		<%= f.label :"Font:" %>
		<%= f.select(:font, options_for_select([['Times New Roman','Times New Roman'],['Arial','Arial'],['Comic Sans MS','Comic Sans MS']])) %>
		<br />
	  </div>
	  <div class="field">
		<%= f.label :"Color:" %>
		<%= f.select(:color, options_for_select([['White','White'],['Green','Green'],['Yellow','Yellow'],['Red','Red']])) %>
		<br />
	  </div>
	  <div class="field">
		<%= f.label :"Size:" %>
		<%= f.select(:size, options_for_select([['16','16'],['18','18'],['20','20'],['22','22']])) %>
	  </div>  
	  <div class="actions">
		<%= f.submit "Update Details" %>
	  </div>
  <% end %>
  <% if current_user.status == "Administrator" %>
  <div class="field" id="administrator">
  <u>Admin Section</u>
  <br />
	<%= link_to "Change admin details", :adminEdit => "adminDetails" %>
  <% if params[:adminEdit] == "adminDetails" %>
  <br />
    <%= f.label :"Rank:" %><%= f.select(:rank, options_for_select([['5', '5'],['4', '4'],['3', '3'],['2', '2'],['1', '1'],['0', '0']])) %>
    <%= f.label :"Status:" %><%= f.select(:status, options_for_select([['Administrator', 'Administrator'],['User', 'User'], ['Inactive', 'Inactive']])) %>
  <% end %>
  </div>
  <% end %>
  <% if params[:edit] == "pdetails" || params[:edit] == "picture" || params[:edit] == "password" || params[:edit] == "email" || params[:adminEdit] == "adminDetails" %>
  <div class="actions">
    <%= f.submit "Update Details" %>
  </div>
  <% end %>
<% end %>