<span>Create a new Thread:</span>
<%= form_for(@thred) do |f| %>
  <% if @thred.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thred.errors.count, "error") %> prohibited this thred from being saved:</h2>

      <ul>
      <% @thred.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "30x10" %>
  </div>
<div class="actions">
    <%= f.submit "Create Thread" %>
  </div>
<% end %>
