<h3>
	<%= @thred.description %>
</h3>
<table id ="form">
	<tr>
		<th>
		</th>
		<th>
			<span>Posts:</span>
		</th>
		<th style="width:50px">
			Options
		</th>
	</tr>
<% @posts.each do |posts| %>
	<tr>
		<td width="30px">
			<%= link_to GetUser(posts.user_id).name, user_path(posts.user_id) %>
		</td>
		<td>
			<span class="created_at"> 
				Created at:
				<%=h posts.created_at %>
			</span>
			<br />
			<%=h posts.description %>
		</td>
		<% if posts.user_id == current_user.id %>
			<td width="60px">
			<%=h link_to 'Edit', edit_post_path(posts.id) %>
			<br />
			<%= link_to 'Delete', posts, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		<% end %>
	<tr id="spacer">
	</tr>
<% end %>
</table>

<div id="newPost">
	<% if current_user %>
		<%= render 'posts/form' %>
	<% end %>
</div>