<h1>
Posts about <%=h @thred.title %>:
</h1>
<p>
  <b>Post description:</b>
  <%= @thred.description %>
  </p>
<table id ="form">
	<tr>
		<th width="50px">
		ID:
		</th>
		<th>
		Description:
		</th>
		<th width="30">
		Options
		</th>
	</tr>
<% @posts.each do |posts| %>
	<tr>
		<td>
		<%= posts.id %>
		</td>
		<td>
		<u><%=h posts.title %></u><br />
		<%=h posts.description %>
		</td>
		<td width="100px">
		<%=h link_to 'View Post', post_path(posts.id) %><br />
		<%= link_to 'Created By', user_path(posts.owner_id) %>
		</td>
	<tr id="spacer">
	</tr>
<% end %>
</table>

<div id="newPost">
<% if session[:id] %>
<%= render 'posts/form' %>
<% end %>
</div>
<div id="description">
<p>
  <b>Title:</b>
  <%= @thred.title %>
  <br />
  <b>Topic ID:</b>
  <%= @thred.topic_id %>
  <br />
  <b>Thread owner:</b>
  <%= link_to @thred.owner_id, user_path(@thred.owner_id) %>

</p>

<%= link_to 'Edit', edit_thred_path(@thred) %> |
<%= link_to 'Back', topic_path(@thred.topic_id) %>

</div>