<table id="homeTable">
	<tr>
		<th colspan="2"><%= link_to current_user.name + " " + current_user.surname, user_path(current_user.id) %></th>
	</tr>
	<tr>
		<td style="width=100px"><%= link_to 'Edit your profile', login_path %></td>

		<td><%= link_to('View forum', 'topicsList') %></td>

		<td><%= link_to('View portfoilo', 'portfolio') %></td>

		<td><%= link_to('View visited locations', 'location') %></td>
	</tr>
	<tr>
		<td colspan="2">
		Find a friend:
			<%= form_tag ('users/' + current_user.id.to_s + '/found'), :method => 'get' do %>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", :name => nil %>
			<% end %>
		</td>
	</tr>
</table>
