<div id="menu">
	<ul>
		<li>
		<% if session[:id] == nil %>
			<%= link_to('Login', '../logons/logon') %>
			<br />
			<%= link_to('Signup', '../users/new') %>
		<% end %>
		<br />
		<li>
		<% if session[:id] != nil %>
			<%= link_to('My Profile', '../home') %>
			<br />
			<%= link_to('Logoff', '../logons/logoff') %>
			<% end %>
		<br />
		<%= link_to('Forum', :controller => "topics", :action => "topicsList") %>
		</li>
		<li>
			<%= notice %><br />
			<% if session[:registration_attempt] != nil %>
				<%= link_to('Click Here to resend account activation email', '../../home/resendEmail') %>
			<% end %>
		</li>
	</ul>
</div>
<div style="position:absolute; bottom:5px;">
	<h2>To do list:</h2>
	<ul>
		<u>Future Releases</u>
		<li>
			Create a blog
		</li>
		<u>Bugs and glitch fixes:</u>
		<li>
			Font-sizes, colours, profile photos are auto deleted from the server for unkown reasons
		</li>
		<u>New Stuff:</u>
		<li>
			29/02: Added ability to change fonts, sizes and colours
		</li>
		<li>
			28/02: Added a new portfolio feature. Save files in date order or as a seperate storage section.
		</li>
	</ul>
</div>