<div id="menu">
	<ul>
		<li>
		<% if current_user == nil %>
			<%= render :template => 'user_sessions/new' %>
		<% end %>
		<br />
		<li>
		<% if current_user != nil %>
			<%= link_to('My Profile', '../../home') %>
			<br />
			<%= link_to('Logoff', '../../logoff') %>
			<% end %>
		<br />
		<%= link_to('Forum', :controller => "topics", :action => "topicsList") %>
		</li>
		<li>
			<%= notice %><br />
			<% if session[:registration_attempt] != nil %>
				<%= link_to('Click Here to resend account activation email', '../../home/resendEmail') %>
			<% end %>
		</li>
	<div style="font-size:18px; width: 400px;">
		<li>About this website:</li>
		<li>
			This website is an expression of some of the skills that I have in Ruby on Rails, JavaScript and Mysql/Postgres.
			<br />
			To view my profile navigate here: <%= link_to "James Grant", "../../users/2" %>
		</li>
		</ul>
	</div>
</div>