<div id="menu">
	<ul>
		<li>
		<% if current_user == nil %>
			<%= link_to('Login', '../../login') %>
			<br />
			<%= link_to('Signup', '../../users/new') %>
		<% end %>
		<br />
		<li>
		<% if current_user != nil %>
			<%= link_to('My Profile', '../../home') %>
			<br />
			<%= link_to('Logoff', '../../logoff') %>
			<% end %>
		<br />
		<%= link_to('Forum', :controller => "topics", :action => "topicsList") %>
		</li>
		<li>
			<%= notice %><br />
			<% if session[:registration_attempt] != nil %>
				<%= link_to('Click Here to resend account activation email', '../../home/resendEmail') %>
			<% end %>
		</li>
	</ul>
</div>
<div style="position:absolute; bottom:5px;">
	<h2>About this website:</h2>
	<p>
		This website is an expression of some of the skills that I have in Ruby on Rails, JavaScript and Mysql/Postgres.
		<br />
		To view my profile navigate here: <%= link_to "James Grant", "users/2" %>
	</p>
	<h2>To do list:</h2>
	<ul>
		<u>Future Releases</u>
		<li>
			Create a blog
		</li>
		<u>Bugs, glitch fixes, to do's:</u>
		<li>
			Font-sizes, colours, profile photos are auto deleted from the server for unkown reasons, user auto logs on after signup - fix
		</li>
		<u>New Stuff:</u>
		<li>
			10/05: Redeveloped the login script with Authlogic
		</li>
		<li>
			28/04: General refinements, website being improved
		</li>
		<li>
			06/02: Added a locations feature, you can now post a location
		</li>
		<li>
			29/01: Added ability to change fonts, sizes and colours
		</li>
		<li>
			28/01: Added a new portfolio feature. Save files in date order or as a seperate storage section.
		</li>
	</ul>
</div>