<p>
<%= @user.name %>'s <b>Storage:</b><br />
  <% @storage.each do |storage| %>
	<table id="form">
	<tr>
		<th colspan="3">Details:</th>
		<th colspan="3">Options:</th>
	</tr>
	<tr>		
		<td>ID: <%=h storage.user_id %></td>
		<td>Title: <%=h storage.title %></td>
		<td>Decription: <%=h storage.description %></td>
		<td><%=h link_to('Download',storage.file.url()) %></td>
		<td><%=h link_to('Edit', edit_storage_path(storage)) %></td>
		<td><%= button_to 'Delete', storage, :confirm => 'Are you sure you want to permanantley delete this data?', :method => :delete %></td>
	</tr>
  <% end %>
</p>