<h1>Listing storages</h1>

<table>
  <tr>
    <th>Item ID</th>
    <th>User_ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
  <tr>
    <td><%= storage.id %></td>
    <td><%= storage.user_id %></td>
    <td><%= link_to 'Show', storage %></td>
    <td><%= link_to 'Edit', edit_storage_path(storage) %></td>
    <td><%= button_to 'Destroy', storage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_storage_path %>
