<p>
  <b>Title:</b>
  <%= @post.title %>
  <br />
  <b>Description:</b>
  <%= @post.description %>
  <br />
  <b>Owner ID:</b>
  <%= @post.user_id %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', thred_path(@post.thred_id) %>
