<%= form_for(@timeline, :html => { :multipart => true }) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% @timeline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
	<%= f.label :Title %>:
	<%= f.text_field :title %>
  </div>
  <div class="field">
	<%= f.label :Details %>:
	<%= f.text_field :description %>
  </div>
  <div class="field">
	<%= f.label :When? %>:
	<%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label 'Add a file' %>:
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
