<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="newLocation">
	<span>
		<%= f.label :Title %>:
	</span>
	<span>
		<%= f.text_field :title %>
	</span>


	<span>
		<%= f.label :Description %>:
	</span>
	<span>
		<%= f.text_field :description %>
	</span>


	<span>    
		<%= f.label :Lat %>:
	</span>
	<span>
		<%= f.text_field :lat, :readonly => "true" %>
	</span>


	<span>
		<%= f.label :Long %>:
	</span>
	<span>
		<%= f.text_field :long, :readonly => "true" %>
	</span>


	<span>
		  <div class="actions">
		    <%= f.submit :onfocus => "validate();", :onmouseover => "validate();" %>
		  </div>
	</span>
</div>

<% end %>
