<% content_for :maps do %>
<script type="text/javascript">
<!--
var marker;
var latlng;
function initialize() 
{
      latlng = new google.maps.LatLng(<%= @location.lat %>, <%= @location.long %>);
        var myOptions = {
          center: latlng,
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("mapCanvas"),
            myOptions);
	marker = new google.maps.Marker({
		position: latlng,
		map: map,
		title:"Grab and Drag Me!!",
		draggable:true,
		animation: google.maps.Animation.DROP,
	});   
	google.maps.event.addListener(marker, 'mouseout', updateXY); 
}
//-->
</script>
<% end %>

<h1>Showing Location</h1>
ID: <%= @location.id %><br />
User ID: <%= @location.user.id %><br />
Description: <%= @location.description %><br />
Lattitude: <%= @location.lat %><br />
Longnitude: <%= @location.long %><br />
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'locations', :controller => "home", :action => "location" %> |
<%= link_to 'Destroy', location_path, :confirm => 'Are you sure?', :method => :delete %>
<div id="mapCanvas"></div>