<!DOCTYPE html>
<html>
<head>
  <title>Nuclearflames</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<span id="home">
		<%= link_to "Home", :controller => "home", :action => "home" %> | 
		<%= link_to "Forum", :controller => "topics", :action => "topicsList" %> |
		<span onclick="goBackHistory()"><u>Go Back to Last Page</u></span>
		</span>
		<span id="notice">
			<%= notice %>
		</span>
		<span id="loggedin">
		<% if session[:id] %>
			You are logged in as: <%= link_to(user.name + " " + user.surname + " " + "(" + user.alias + ")", user_path(user.id)) %><br />
			<span id="logOff">Click here to <%= link_to('Logoff', '../../../logons/logoff')%> 
			<%=h image_tag user.photo.url(:thumb), :id=>"profilePic" %></span>
		<% else %>
			You are not logged in, <%= link_to "Log in", "../../../../logons/logon" %> or  <%= link_to('Signup', '../../../../users/new') %>
		<% end %>
		</span>
	</div>
	<div id="content">
		<div id="mainContent">

		<%= yield %>

		</div>
	</div>
	<div id="disclaimer">
	<p>
	Disclaimer: Use this webiste at your own risk, I accept no responsibility for any problems anyone has with this website.
	<br />
	This website is in development so please bare with me as new content will be added to this website!!
	</p>
	</div>
	</body>
</html>
