<!DOCTYPE html>
<html>
<head>
  <title>Nuclearflames</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<span id="home">
		<%= link_to "Home",  "../../../../home/index" %>
		</span>
		<span id="notice">
			<%= notice %>
		</span>
		<span id="loggedin">
		<% if session[:id] != nil %>
			You are logged in as: <%= link_to(user.name, user_path(user.id)) %><br />
			<span style="position:absolute; top: 20px; right: 1px"}>Click here to <%= link_to('Logoff', '../../../logons/logoff')%> 
			<%=h image_tag user.photo.url(:thumb), {:style=>"position:absolute; top: 0px; right: 150px"} %></span>
		<% else %>
			You are not logged in, <%= link_to "Log in", "../../../../logons/logon" %> or  <%= link_to('Signup', '../../../../users/new') %>
		<% end %>
		</span>
	</div>
	<div id="content">
		<div id="mainContent">

		<%= yield %>

		</div>
	</div>
</body>
</html>
